<header class="flex items-center bg-teal-950 text-white">
  <h1 class="h-24 text-2xl p-1 flex-grow text-center content-center">
    Task Page
  </h1>

  <button
    routerLink="/"
    class="mr-4 p-2 rounded-lg hover:bg-teal-600 border-1 border-white"
  >
    Back
  </button>
</header>

<main class="p-2 flex flex-col min-h-2/3 w-2/3 mx-auto">
  <h2 class="text-xl font-bold text-teal-800 my-5">Task List</h2>

  <form class="space-y-2 mb-8" (ngSubmit)="addTask(taskInput.value)">
    <app-error-message [control]="title" fieldName="Title"></app-error-message>

    <input
      #taskInput
      type="text"
      [formControl]="title"
      placeholder="Title..."
      class="input-class"
    />

    <app-error-message
      [control]="describe"
      fieldName="Describe"
    ></app-error-message>
    <input
      #taskInput
      type="text"
      [formControl]="describe"
      placeholder="Describe your task..."
      class="input-class h-40"
    />

    <button
      type="submit"
      class="btn-teal"
      (click)="addTask(taskInput.value); taskInput.value = ''"
      [disabled]="title.invalid || describe.invalid"
      [ngClass]="{
        'opacity-50 cursor-not-allowed': title.invalid || describe.invalid
      }"
    >
      Add
    </button>
  </form>

  <div>
    <!-- Filtro para busqueda -->
    <form class="max-w-md mx-auto">
      <label for="default-search" class="mb-2 text-teal-800 sr-only"
        >Search</label
      >
      <!-- Lupa -->
      <div class="relative">
        <div
          class="absolute inset-y-0 start-0 flex items-center ps-3 pointer-events-none"
        >
          <svg
            class="w-4 h-4 text-teal-950"
            aria-hidden="true"
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 20 20"
          >
            <path
              stroke="currentColor"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="m19 19-4-4m0-7A7 7 0 1 1 1 8a7 7 0 0 1 14 0Z"
            />
          </svg>
        </div>

        <input
          type="search"
          id="default-search"
          class="block !w-full !p-4 !ps-10 text-sm input-class mb-4"
          placeholder="Search tasks..."
          required
          [formControl]="searchControl"
        />
      </div>
    </form>

    <ul *ngIf="filteredTasks.length > 0; else noTasks" class="mt-5">
      <li *ngFor="let task of filteredTasks" class="flex justify-between p-1">
        <span [class.completed]="task.completed" (click)="toggleTask(task)">
          {{ task.title }}
        </span>
        <button (click)="deleteTask(task.id)" class="mx-2 cursor-pointer">
          ❌
        </button>
      </li>
    </ul>
  </div>

  <ng-template #noTasks>
    <p class="cursor-default">Nothing here...</p>
  </ng-template>
</main>
