header{
  background-image: url("https://images.pexels.com/photos/325649/pexels-photo-325649.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
}  

.input-class {
  width: 100%;
  padding: 0.5rem; /* Equivalente a p-2 */
  border: 2px solid #006884; /* Equivalente a border-cyan-800 */
  border-radius: 0.5rem; /* Equivalente a rounded-lg */
  outline: none; /* Equivalente a focus:outline-none */
}

.input-class:focus {
  box-shadow: 0 0 0 2px #0891b2; /* Equivalente a focus:ring-2 focus:ring-cyan-600 */
}

.input-class::placeholder {
  line-height: 2.5rem
}

.btn-cyan {
  background-color: #006884;
  color: white; /* text-white */
  padding: 0.5rem 1rem; /* px-4 py-2 */
  border-radius: 0.5rem; /* rounded-lg */
  transition: background-color 0.3s ease; /* Añadido para un suave cambio de color */
  cursor: pointer;
  font-weight: bold;
}

.btn-cyan:hover {
  background-color: #0891b2; 
}